*
{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

p
{
	color: #777;
}

.head
{
	width: 100vw;
	height: 100vh;
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) , url("../colluge_img/banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.logo
{
	float: left;
	margin-left:100px;
	margin-top: 30px;
}
.head .nav nav ul
{
	float: right;
	margin-right: 50px;
	margin-top: 30px;
}
.clear{clear: both;}
.head .nav nav ul li
{
	list-style-type: none;
	display: inline-block;
    margin-left: 20px;

}
.head .nav nav ul li a
{
	text-decoration: none;
	color: #fff;
}
.head .nav nav ul li a:before 
{
	content: '';
	width: 0%;
	height: 2px;
	background-color: #F24F32;
	display: block;
	position: relative;
	top: 20px;
	transition: width .7s;

}
.head .nav nav ul li a:hover::before
{
	width: 100%;
}
.head .content
{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: #fff;
}
.head .content h1
{
	font-weight: bolder;
	font-size: 50px;
	margin-bottom: 20px;
}
.head .content p
{
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 20px;
}
.head .content button
{
	text-align: center;
	border: 1px solid #fff;
	background-color: unset;
	padding: 10px 25px;
	color: white;
	outline: none;
	cursor: pointer;
	transition: background-color .7s;
}
.head .content button:after 
{
	content: '';
	width: 30px;
	height: 1px;
	background-color: #fff;
	position: absolute;
	right: 180px;
	bottom: 20px;
}
.head .content button:before
{
	content: '';
	width: 30px;
	height: 1px;
	background-color: #fff;
	position: absolute;
    left: 180px;
    bottom: 20px;
}
.head .content button:hover
{
	background-color: #F24F32;
	border-color: #f24f32;
}

.head .content button:hover::after,.head .content button:hover::before
{
	background-color: #F24F32;
}
/*course*/
.course
{
	width: 100vw;

}
.course h1 , .course p
{
text-align: center;
margin-top: 50px;
}
.course .course_content 
{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding-right: 20px;
}
.course .course_content div
{
	flex-basis: 30%;
	
	margin: 20px 0px;
	margin-bottom: 40px;
	padding:10px 20px;
	background-color: #DCD2D2;
	color: #777;
	cursor: pointer;
	transition: box-shadow .7s;
}
.course .course_content div h2
{
	margin-bottom: 20px;
	text-align: center;
	color: black;
}
.course .course_content div:hover
{
box-shadow: 1px 1px 12px black;

}
/* end course*/
/* start campus*/
.campus h1,.campus p
{
text-align: center;
margin-bottom: 20px;
}
.campus h1{margin-bottom: 30px;}
.campus .Campus_content
{
	display: flex;
	justify-content: space-around;
}
.campus .Campus_content div 
{
	flex-basis: 30%;
	
	border-radius: 5px;
}
 .campus .Campus_content div .layer
{
	width: 100%;
	height: 95%;
	position: relative;
	top: -95%;
	background-color:transparent;
	transition:background-color 1s; 
	
}
 .campus .Campus_content div .layer:hover
 {
 	background-color: rgba(266,0,0,0.6);
 }
.campus .Campus_content div img
{
	height: 450px;
	width: 100%;
}
.campus .Campus_content div h2
{
	
	position: relative;
	top: -550px;
	text-align: center;
	opacity: 0;
	transition: all 1s;

}
.campus .Campus_content div:hover h2
{
	opacity: 1;
	top: -700px;
}
/* end campus*/

/* start facilities */
.facilities h1 , .facilities p
{
	text-align: center;
}
.facilities h1{margin-bottom: 20px;margin-top: 30px;}
.facilities p{margin-bottom: 20px;}
.facilities .facilities_content
{
	display: flex;
	justify-content: space-around;
}
.facilities .facilities_content div
{
	flex-basis: 30%;

}
.facilities .facilities_content div img
{
	height: 300px;
	width: 100%;
	margin-bottom: 15px;
	border-radius: 8px;
}
.facilities .facilities_content div h3
{
	text-align: center;
	margin-bottom: 15px;
}
.facilities .facilities_content p
{
	text-align: left;
}
/* end facilities */

/* start testimonials */
.testimonials h1 , .testimonials p
{
	text-align: center;
}
.testimonials h1
{
	margin-top: 40px;margin-bottom: 20px;
}
.testimonials p
{
	margin-bottom: 15px;
}
.testimonials_content 
{
	display: flex;
	justify-content: space-around;
}
.testimonials_content .col-1
{
	flex-basis: 50%;
	margin-left: 150px;
}

.testimonials_content .col-2
{
	flex-basis: 50%;
	margin-left: 20px;
	margin-right: 150px;
}
.col{background-color: #fff3f3;padding: 20px;}
.col img
{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.col-1 , .col-2
{
	display: flex;
}
.col div p
{
	text-align: left;
}
.col div p , .col div h3
{
	margin-right: 20px;
	margin-left: 20px;
}
.first
{
	margin-left: 20px;
	margin-top: 5px;
}
.fa
{
	color: #F24F32;
}
/* end testimonials */


/*start calling*/
.calling
{
	width: 80%;
	margin: 100px auto;
	background-image:linear-gradient(rgba(0,0,0,.7) , rgba(0,0,0,.7)),url("../colluge_img/banner2.jpg");
	padding: 100px 0px;
	background-position: center;
	background-size: cover;
	text-align: center;
	border-radius: 10px;
}
.calling h1{color: #fff;font-size:35px;}
.calling .btn-contact
{
	background:transparent;
	border:1px solid #fff;
	padding:15px 30px;
	color: white;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px; 
	transition: all .7s;
}
.calling .btn-contact:hover
{
	background: #F24F32;
	border-color:  #F24F32;
}
/*end calling*/

/* start footer*/

section.footer
{
	text-align: center;
	display: block;
	width: 100%;
	margin:50px auto;
	
}

section.footer h4
{
	margin-bottom: 30px;
}
section.footer p
{
	margin-bottom: 20px;
}
section.footer .icons .fa
{
	margin-left:15px;
	font-size: 30px;
	margin-bottom: 15px;
	cursor: pointer;
}
/* end footer*/

/* start about us page */
.container .sub-head
{
	width: 100%;
	height: 50vh;
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) , url("../colluge_img/background.jpg");
	background-position: center;
	background-size: cover;
		
}
.container .sub-head .nav
{
	display: flex;
	justify-content: space-between;
	padding:30px 30px;
}
.container .sub-head .nav .logo{margin: 0px;}
.container .sub-head .nav ul{list-style-type: none;}
.container .sub-head .nav ul li{display: inline-block;}
.container .sub-head .nav ul li a
{
	text-decoration: none;
	color: #fff;
}
.container .sub-head .nav ul li:not(li:last-of-type)
{
	margin-right: 30px;
}
.sub-head .nav nav ul li a:before 
{
	content: '';
	width: 0%;
	height: 2px;
	background-color: #F24F32;
	display: block;
	position: relative;
	top: 20px;
	transition: width .7s;

}
.sub-head .nav nav ul li a:hover::before
{
	width: 100%;
}
.container .sub-head h1
{
	text-align: center;
	margin-top: 60px;
	color: #fff;
}

 .about-content
{
	display: flex;
	padding-left: 50px;
	padding-right: 50px;
	margin: 100px 0px;
}
.about-content div 
{
width: 50%;
}
.about-content div h1
{
	margin-left: 40px;
	margin-bottom: 15px;
}
.about-content div p
{
	padding:0px 40px; 
}
.about-content div a
{
	padding: 10px 30px;
	border:1px solid #f44336;
	margin-top: 40px;
	display: inline-block;
	text-decoration: none;
	color: #f44336;
	margin-left: 40px;
	cursor: pointer;
	background: transparent;
	transition: all .8s;
}
.about-content div a:hover
{
	background: #F24F32;
	color: #fff;
}
.about-content div img
{
	width: 80%;
	margin-left: 20px;
	border-radius: 15px;
}


/* end about us page */



/* start courses page */


.courses-content
{
	display: flex;
}
.courses-content .left
{
	width: 65%;
	padding: 30px;
}
.courses-content .left img
{
	width: 100%;
}

.courses-content .left p ,.courses-content .left h1
{
	margin-top: 30px;
}
.courses-content .left p
{
	color: #999;
}
.courses-content .left .comment-box
{
	border:1px solid gray;
	padding: 20px;
	margin-top: 20px;
}
.courses-content .left .comment-box input[type="text"],
.courses-content .left .comment-box input[type="email"]
{
	width: 100%;
	height: 35px;
	outline: none;
	text-indent: 20px;
	background:#F0EEF0;
	margin-top: 20px;
	border:none;
	border-radius: 5px;
}
.courses-content .left .comment-box textarea
{
	width: 100%;
	height: 80px;
	text-indent: 20px;
	margin-top: 20px;
	background-color: #F0EEF0;
	border-radius: 5px;
	border:none;
	outline: none;
	padding-top: 15px;
}
.courses-content .left .comment-box button
{
	color: #f44336;
	border-color: #f44336;
	border-width: 1px;
	background-color: transparent;
	padding: 15px 30px;
	margin-top: 20px;
	cursor: pointer;
	transition: all .8s;
}
.courses-content .left .comment-box button:hover
{
	background-color:#f44336;
	color: #fff;
}
.courses-content .right
{
	width: 30%;
	padding:30px 60px 0px 10px;
}
.courses-content .right h3
{
	background:#FF5335;
	color:#fff;
	text-align: center;
	padding:10px 0px;

}
.courses-content .right div
{
	display: flex;
	justify-content: space-between;
	padding:10px 0px;
	color:#555;

}

/* end courses page */

/* start contact page */


.location
{
	width: 85%;
	margin: 100px auto;
}
.location iframe
{
	width: 100%;
	border-radius: 15px;
}
.contact-content
{
	margin-left: 10%;
	display: flex;
}
.contact-content .col-contact
{
	flex-basis: 50%;
}
.contact-content .col-contact div
{
	
	display: flex;
	margin-bottom: 30px;
}
.contact-content .col-contact div .fa
{
	margin-top: 10px;
	margin-right: 10px;
}
.contact-content .col-contact div span h5
{
	margin-bottom: 10px;
}
.contact-content .col-contact form
{
	width: 100%;
	padding-right: 10%;
}
.contact-content .col-contact form input
{
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	outline: none;
	border-style: solid;
	border-radius: 5px;
	text-indent: 20px;
	padding: 3px;
}
.contact-content .col-contact form textarea
{
	width: 100%;
	height: 140px;
	text-indent: 20px;
	padding: 3px;
	outline: none;
}
.contact-content .col-contact form button
{
	width: 30%;
	height: 40px;
	text-align: center;
	color: #f44336;
	background: transparent;
	cursor: pointer;
	margin-top: 10px;
	border:1px solid #f44336;
	transition: all .8s;
}
.contact-content .col-contact form button:hover
{
	color: #fff;
	background-color: #f44336;
}
/* end contact page */